<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Sightings</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../home.css" rel="stylesheet" th:href="@{../home.css}">
    </head>
	
	<body>
		<header>
            <h1>Sightings</h1>
            <hr/>
		</header>
		
		<nav>
            <div class="row m-4 border border-dark">
                <div class="col text-center m-2">
                    <a href="/" class="btn badge-pill">Home</a>
                </div>
                <div class="col text-center m-2">
                    <a href="superhumans" class="btn badge-pill">Superhumans</a>
                </div>
                <div class="col text-center m-2">
                    <a href="organizations" class="btn badge-pill">Organizations</a>
                </div>
                <div class="col text-center m-2">
                    <a href="locales" class="btn badge-pill">Locales</a>
                </div>
                <div class="col text-center m-2">
                    <a href="sightings" class="btn badge-pill">Sightings</a>
                </div>
                <div class="clear-float"></div>
            </div>
        </nav>
        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Sighting</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addSighting" method="POST">
                    <div class="col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">Error message</p>
                    </div>
                    <div class="form-group row">
                        <label for="sightDate" class="col-3 col-form-label">Date</label>
                        <div class="col-9">
                            <input type="date" name="sightDate" id="sightDate" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="locale" class="col-3 col-form-label">Locale</label>
                        <div class="col-9">
                            <select id="locale" name="localeId" class="form-control" >
                                <option th:each="locale : ${locales}" 
                                        th:value="${locale.localeId}" 
                                        th:text="${locale.localeName}">
                                    Locale Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="superhumans" class="col-3 col-form-label">Superhuman</label>
                        <div class="col-9">
                            <select id="superhumans" name="superId" class="form-control" >
                                <option th:each="superhuman : ${superhumans}" 
                                        th:value="${superhuman.superId}" 
                                        th:text="${superhuman.superName}">
                                    Superhuman Name</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Sighting</button>
                </form>
            </div>
        </div>
		<div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped" id="sightingTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Superhuman</th>
                            <th>Locale</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sighting : ${sightings}">
                            <td th:text="${sighting.sightId}">Course ID</td>
                            <td th:text='${sighting.sightDate}'>Course Name</td>
                            <td th:text="${sighting.superhuman.superId + ' - ' + sighting.superhuman.superName}">Superhuman</td> 
                            <td th:text="${sighting.locale.localeId + ' - ' + sighting.locale.localeName}">Locale</td>
                            <td><a href="#" th:href="@{/editSighting(sightId=${sighting.sightId})}">Edit</a></td>
                            <td><a href="#" th:href="@{/deleteSighting(sightId=${sighting.sightId})}">Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		<footer>
		
		</footer>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="../home.js" th:href="@{home.js}"></script>
	</body>
</html>