h1 {
    text-align: center;
}

.container-fluid {
    margin: 0 auto;
}

.btn {
    margin: 3px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.card {
    margin: 8px;
    word-break: break-all;
    word-wrap: break-word;
}

.card-name {
    font-size: smaller;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    justify-content: center;
    display: flex;
}

.card-id {
    text-align: left;
    margin: 10px;
}
